<div class="container">
    <div class="row">
      <div class="col s12 m6 l6 mx-auto login-box">
        <!-- form card login -->
        <div class="card rounded">
          <h5 class="card-panel hoverable center-align white-text teal lighten-2">
            MEMBER LOGIN
          </h5>
          <div class="card-content">
            <form class="form" #loginForm="ngForm">
              <div class="form-group">
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input id="icon_prefix" type="text"  [(ngModel)]="loginUserData.username" name="email" class="form-control input_user" value="" placeholder="Email or Username" required>
                </div>
              </div>
              <div class="form-group">
                <div class="input-field col s12">
                  <i class="material-icons prefix">vpn_key</i>
                  <input id="icon_prefix" type="password" [(ngModel)]="loginUserData.password" name="password" class="form-control input_pass" value="" placeholder="Password" required>
                </div>
              </div>
              <div class="form-group">
                <label class="center-align col s12">
                  <input type="checkbox" />
                  <span>Remember me</span>
                </label>
              </div>
              <div class="input-field col s12 center-align">
                <button type="submit" [disabled]="loginForm.form.invalid" (click)="loginUser()" class="waves-effect waves-light btn-small">Login</button>
              </div>
            </form>
            <div class="row ext-links">
              <div class="col center-align s12">
                <span class="margin medium-small col s6 m6 l6">Don't have an account? <a (click)="registerRoute()">Sign Up Here</a></span>
                <span class="margin right-align medium-small col s5 m5 l5"><a class="modal-trigger" href="#forgetPasswordModal">Forgot password?</a></span> 
              </div>
            </div>
          </div>
        </div>
        <!-- /form card login -->
      </div>
    </div>
</div>
<div class="modal" id="forgetPasswordModal">
    <div class="modal-content">
        <button type="button" class="right modal-close">
          &times;
        </button>
        <h5 class="modal-title" id="forgetPasswordModalLabel">Forget Your Password?</h5>
        <p>Don't Worry. Resetting your password is easy! Just Tell us Email Address you registered with us.</p>
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email ID:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      
      <div class="modal-footer">
        <button type="button" class="waves-effect waves-green btn-small btn-flat white">Reset Password</button>
        <button type="button" class="waves-effect waves-red btn-small btn-flat white modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>