<!-- Dropdown Structure -->
<ul id="profile-dropdown" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<!-- Navbar -->
<nav >
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i class="material-icons">cloud</i> Personal Finance</a>
    <ul class="right hide-on-med-and-down">
      <!-- Profile Dropdown Trigger --> 
      <li><a class="dropdown-trigger" data-target="profile-dropdown">Welcome <span *ngIf="currentUser">{{currentUser.name }}</span><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
    <!-- Page Layout here -->
    <div class="row">
      <div class="col s3">
        <app-left-sidebar></app-left-sidebar>
      </div>

      <div class="col s9">
        <router-outlet></router-outlet>
      </div>

    </div>